.pri-color {
    color: #FF5400;
}

.sec-color-grey {
    color: rgba(19, 19, 24, 0.70);
}

.white {
    color: #FFF;
}

.pri-title {
    font-size: 40px;
}

.pri-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    padding: 16px;
    border: 0;
    width: 174px;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-menu>ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 18px;
}

/* .navbar img:{
    min-width: 576px;
    display: none;
} */

.header-menu a {
    text-decoration: none;
    color: #424247;
}

.header-menu .pri-color {
    color: #FF5400;
}

/* banner */
.banner-container {
    text-align: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group13.png');
    background-repeat: no-repeat;
    /* width: 100%; */
    object-fit: cover;
    /* height: 500px; */
    border: 2px solid tomato;
}

.banner-text h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 50px 24px;
}

.banner-input {
    border: 2px solid tomato;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    margin: 48px 100px;

}

.banner-input .input {
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding: 16px 0 16px 6px;
    width: 174px;
}

/* Our Popular Tours */
.popular-tour {
    border: 2px solid tomato;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.popular-tour-text h1 {
    padding-bottom: 24px;
}

.popular-tour-text li {
    padding-top: 16px;
}

.popular-tour-text button {
    margin-top: 32px;
}

/* Choose Your Destination */
.destination {
    border: 2px solid tomato;
}

.destination-text {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    gap: 20px;
}



/* for small device */
@media screen and (max-width:576px) {

    .header-menu li {
        display: none;
    }

    .popular-tour,
    .banner-input,
    .flex {
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .banner-input .input,
    .popular-tour-text p {
        font-size: 14px;
    }

    .banner-text h1 {
        padding: 9px 5px;
        font-size: 22px;
    }

    .banner-text p {
        font-size: 14px;
    }

    .popular-tour-text h1 {
        font-size: 20px;
    }

    .popular-tour-img img{
        width:100%;
        height: 342px;
    }

    .flex img {
        width: 100%;
        height: 176px;
        object-fit: cover;
        border-radius: 16px;
    }

}